<div class="border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white">
                    <h5 class="my-0 mr-md-auto font-weight-normal">
                        SNS prototype
                    </h5>
                    <nav class="my-2 my-md-0 mr-md-3">
                      {% if user.is_authenticated %}
                        {% if user.avatar %}
                          <img src="{{ user.avatar.url }}" class="rounded-circle" style="width: 2rem; height: 2rem;">
                        {% else %}
                          <img src="{% url 'pydenticon_image' user.username %}" class="rounded-circle" style="width: 2rem; height: 2rem;">
                        {% endif %}
                        <a class="p-2 text-dark" href="{% url 'accounts:profile_edit' %}">프로필</a>
                      {% else %}
                        <a class="p-2 text-dark" href="{% url 'accounts:login' %}">로그인</a>
                      {% endif %}
                    </nav>
                    {% if user.is_authenticated %}
                      <a class="btn btn-outline-primary" href="{% url 'accounts:logout' %}">로그아웃</a>
                    {% else %}
                      <a class="btn btn-outline-primary" href="{% url 'accounts:signup' %}">회원가입</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>